<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="plugins/vue3.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="plugins//element-plus.css">
    <!-- import JavaScript -->
    <script src="plugins/element-plus.js"></script>
    <title>个人博客</title>
    <link rel="shortcut icon" href="blog.ico">
    <script src="js/domain.js"></script>
    <script src="plugins/axios.js"></script>
    <script src="plugins/js-cookie.js"></script>
</head>

<body>
    <div id="article-form">
        <el-form :model="form" label-width="120px">
            <el-form-item label="用户名">
                <el-input v-model="form.name" placeholder="请输入新的用户名" />
            </el-form-item>
            <el-form-item label="密码框">
                <el-input v-model="form.password" type="password" placeholder="请输入密码" show-password />
            </el-form-item>
            <el-form-item label="邮箱">
                <el-input v-model="form.email" placeholder="请输入邮箱" />
            </el-form-item>
            <el-form-item label="个人介绍">
                <el-input v-model="form.info" type="textarea" placeholder="填写你的个人信息" />
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">提交修改</el-button>
                <el-button @click="myReturn">取消</el-button>
            </el-form-item>
        </el-form>


    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    id:'',
                    form: {
                        name: '',
                        password: '',
                        email: '',
                        info: '',
                    }
                }
            },
            mounted(){
                //获取浏览器存储的个人信息
                const userInfo = window.localStorage.getItem('userInfo');
                if (userInfo) {
                    this.userInfo = JSON.parse(userInfo);
                    this.id = this.userInfo.id;
                }
            },
            methods: {
                onSubmit() {
                    axios.put('http://localhost:8080/user', {
                        id:this.id,
                        name:this.form.name,
                        password:this.form.password,
                        email:this.form.email,
                        info:this.form.info,
                    }).then(resp => {
                        const code = resp.data.code
                        if (code === 1) {
                            alert("修改成功")
                            window.location.href = "index.html";
                        } else {
                            console.log(resp.data.msg);
                            alert(resp.data.msg)
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                },
                myReturn() {
                    window.location.href = "index.html";
                },
            },
        })
        app.use(ElementPlus).mount('#article-form')

    </script>

</body>

</html>